@*declare the model we will be using as a dynamic*@
@model dynamic
@{
    ViewData["Title"] = "Home Page";
}
<div class="text-center">
    <h2>@Model.Author.BlogTitle blog</h2>
    <div>
        @*iterate over all the BlogPostDtos in the model*@
        @foreach (BlogPostDto post in @Model.BlogPosts)
        {
            @*create a link (<A href...>) for each blog post
        which points to the BlogPost controller's details view
        and sends the ID of the blog post *@
            @* <br /> *@

            <div style="font-weight:bold;margin:0px;padding-top:10px;">@Html.ActionLink((string)@post.PostTitle, "Details", "BlogPosts", new { id = @post.Id }, new { })</div>
        }
    </div>
</div>