@using WebApiClient.DTOs
@model dynamic

@{
    ViewData["Title"] = Model.BlogPost.PostTitle;
}

<div class="text-center">
    <h1>@Model.BlogPost.PostTitle</h1>
    <h4>By: @Model.Author.Email</h4>
    
    <div><a href="/Authors/@Model.Author.Id/BlogPosts">View all blogposts from this author</a></div>
    </div>
    <hr />
    <div>
    @Html.Raw(@Model.BlogPost.PostContent.Replace("\n", "<br />").Replace(". ", ".<br /> "))
</div>
<div style="text-align:right;">
    <a asp-controller="Home" asp-action="Index">Back to List</a>
</div>