@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <a class="nav-link text-dark" asp-controller="Author" asp-action="Create">Create profile</a>
    <a class="nav-link text-dark" asp-controller="Login" asp-action="Create">Log in</a>
</div>
